[project]
	description = Working repository for EA-976 undergrad class on Software Engineering at University of Campinas
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ra136253
[access "refs/for/refs/*"]
	read = group user/ra136253
	push = group user/ra136253
	label-Code-Review = -2..+2 group user/ra136253
	label-Verified = -1..+1 group user/ra136253
	rebase = group user/ra136253
	removeReviewer = group user/ra136253
	submit = group user/ra136253
[access "refs/heads/*"]
	read = group user/ra136253
	create = group user/ra136253
	push = +force group user/ra136253
	pushMerge = group user/ra136253
[access "refs/tags/*"]
	push = +force group user/ra136253
	pushTag = group user/ra136253
	pushSignedTag = group user/ra136253
